[Desktop Entry]
Name=glChess
Comment=GL Chess
Comment[pl]=Szachy w GL
Icon=glchess.png
Exec=glchess
Terminal=false
Type=Application
# vi: encoding=utf-8
